.title-style {
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 13px;
  text-decoration: underline overline #FF3028;
}

h2 {
  text-align: center;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
}

.green-mode {
  background-color: #C3E4C6;
  color: black;
}

.toggle-mode {
margin-right: 50px;
margin-bottom: 50px;
float: right;
border-radius: 8px;
}

.user-instruction {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  height: 350px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 75px;
}

.left-container {
  background-color: #E7E6E6;
  overflow-y: auto;
  flex: 2;
  padding: 10px;
  border-radius: 8px 0 0 8px;
}

.right-container {
  flex: 8;
  display: flex;
  flex-direction: column;
}

.chat_buddy {
  background-color: rgba(241, 241, 241, 0.95);
  padding: 5px;
  border-top-right-radius: 8px;
}

.messages-main-container {
  display: flex;
  flex-direction: column;
  flex: 10;
  padding-bottom: 5px;
  min-height: 0;
}

.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.messages-container :first-child {
  margin-top: auto;
}

.selected {
  background-color: #4579fb;
  border-radius: 8px;
}

.category-row {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-icon {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin: 0 5px;
}

.category-text {
  display: flex;
  align-items: center
}

.text-input-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 5px 10px;
}

.curve-border {
  border-radius: 20px;
}

.message-box {
  display: flex;
  flex: 10;
  margin-right: 5px;
  padding-left: 8px;
}

.enter-box {
  display: flex;
  flex: 0;
}

.message  {
  margin: 3px 8px;
  max-width: 50%;
}

.message-text  {
  padding: 5px;
  border-radius: 8px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.message-time {
  color: #CCCCCC;
  font-size: 12px;
}

.other-message {
  align-self: flex-start;
}

.other-message > div {
  background-color: #E9E9EA;
}

.my-message {
  align-self: flex-end;
}

.my-message > div {
  background-color: #467BFB;
  color: white;
}

.footer-container {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-container ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-container li {
  padding: 0 10px;
}

.footer-container ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-container .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-container .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.category-footer-icon {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  margin: 5px 5px;
  padding: 5px;
  opacity: 0.8;
}